@media (hover: hover) {
  .swiper-button-prev,
  .swiper-button-next {
    opacity: 0;
    visibility: hidden;
  }
}

.swiper-button-prev,
.swiper-button-next {
  mix-blend-mode: difference;
  --swiper-navigation-size: 32px;
  --swiper-theme-color: #ffffff;
  --swiper-navigation-sides-offset: 20px;
}

.swiper:hover .swiper-button-prev,
.swiper:hover .swiper-button-next {
  opacity: 1;
  visibility: visible;
}

.swiper-transition {
  -webkit-transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
  -o-transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
  transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
}

.swiper-wrapper {
  transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
}
