#page-loader {
  position: fixed;
  inset: 0;
  background-color: #09090b;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;

  clip-path: inset(0 0 0 0);

  pointer-events: all;
  transition: all 1s ease;
}

#page-loader.transitioned {
  clip-path: inset(100% 0 -100% 0);
}

#page-loader.transitioned.shown {
  clip-path: inset(0 0 0 0);
}

#page {
  opacity: 1;
  transition: all 1s ease;
}

#page.faded {
  opacity: 0;
}

.reveal-image {
  position: relative;
  overflow: hidden;
}

.reveal-image img {
  display: block;
  width: 100%;
  height: auto;

  transform: scale(1.1);

  transition-delay: var(--delay);
  transition: transform 1.2s cubic-bezier(0.25, 1, 0.5, 1) var(--delay, 0ms);
}

.reveal-image.visible img {
  transform: scale(1);
}
