@font-face {
  font-family: "Macherie";
  src: url("/fonts/macherie.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/manrope-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/manrope-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/manrope-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/manrope-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

::selection {
  color: #263d58;
  background-color: #71ABEF;
}

::-webkit-scrollbar {
  width: 16px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: #2d4561;
  /* border-left: 1px solid #b16476; */
}

::-webkit-scrollbar-thumb {
  background: #625473;
  transition: all ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #91749e;
}

/* Smooth Scroll */

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
