---

---

<!doctype html>
<html lang="az">
  <head>
    <meta http-equiv="refresh" content="0; url=/apps/" />
    <meta name="robots" content="noindex, nofollow" />
    <title>Yenidən yönləndirilir...</title>
  </head>
  <body class="text-white bg-black">Yenidən yönləndirilir...</body>
</html>
