---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="404">
  <section id="error" class="flex flex-col items-center mt-32 mb-24 mr-20">
    <h1 class="splt font-serif text-[24vw] leading-none">404</h1>
  </section>
</BaseLayout>

