---
// Constants
import { SITE_TITLE } from "../consts";

// Components
import SmoothScroll from "../components/_SmoothScroll.jsx";
import MotionContainer from "../components/_MotionContainer.jsx";
import ProjectPhrase from "../components/_ProjectPhrase";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title={`Ошибка 404 / ${SITE_TITLE}`}
  description="Эта не та страница, которую вы ищете"
>
  <SmoothScroll client:only="react">
    <MotionContainer client:only="react">
      <h2
        class="font-serif [font-size:clamp(4rem,-0.4rem+22vw,26rem)] text-center leading-none -mb-[3.5%] z-50 mix-blend-difference select-none pr-5 italic pt-[6%]"
      >
        Error 404
      </h2>
      <ProjectPhrase
        client:only="react"
        title="Эта не та страница, которую вы ищете"
        description="Эта не та страница, которую вы ищете"
      />
    </MotionContainer>
  </SmoothScroll>
</Layout>
