---
// Content
import { getCollection } from "astro:content";
const projects = (
  await getCollection("projects", ({ data }) => {
    return data.isDraft !== true;
  })
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

// Constants
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

// Components
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.jsx";
import HomeLayout from "../layouts/HomeLayout.jsx";
import DiscussProject from "../components/DiscussProject";
import Footer from "../components/Footer.jsx";

// console.log(projects);
---

<!doctype html>
<html lang="ru">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="text-white bg-black">
    <section class="lg:h-screen flex flex-col justify-between">
      <Header client:load />
      <HomeLayout projects={projects} client:load />
      <DiscussProject client:load />
    </section>
    <Footer client:load />
  </body>
</html>
