---
// Imports
import { getCollection, type CollectionEntry } from "astro:content";
import { CATEGORIES } from "../categories";

// Props
type Post = CollectionEntry<"blog">;
type CategorySlug = keyof typeof CATEGORIES;

// Constants
const currentPath = Astro.url.pathname;

const allPosts: Post[] = await getCollection("blog", ({ data }: Post) => {
  return data.isDraft !== true;
});

const postsByCategory = Object.entries(CATEGORIES).reduce(
  (acc, [slug, label]) => {
    const categorySlug = slug as CategorySlug;
    const postsInCategory = allPosts.filter(
      (post: Post) => post.data.category === categorySlug
    );
    acc[categorySlug] = postsInCategory;
    return acc;
  },
  {} as Record<CategorySlug, Post[]>
);
---

<aside>
  <nav class="flex flex-col">
    {
      Object.entries(postsByCategory).map(([slug, posts]) => {
        const categoryLabel = CATEGORIES[slug as CategorySlug];
        return (
          <details open="true" class="mb-9 cursor-pointer">
            <summary class="text-xl font-medium mb-4">{categoryLabel}</summary>
            {posts.length === 0 ? (
              <p>В этой категории нет статей</p>
            ) : (
              <ul class="flex flex-col gap-2">
                {posts.map((post) => (
                  <li>
                    <a
                      href={`/blog/${post.id}/`}
                      class={`flex text-base ${`/blog/${post.id}/` === currentPath ? "text-white" : "text-neutral-400"}`}
                    >
                      {post.data.title}
                    </a>
                  </li>
                ))}
              </ul>
            )}
          </details>
        );
      })
    }
  </nav>
</aside>
