---
import Button from "../components/Button.astro";
---

<div class="grid grid-cols-4 bg-gray rounded-md px-8 py-10 relative">
  <div
    class="bg-dark-blue rounded-md selection:bg-dark-blue py-8 px-6 col-span-2 flex flex-col"
  >
    <h2
      class="font-bold text-3xl font-serif leading-none tracking-wide text-pretty mb-4"
    >
      Основы <span class="whitespace-nowrap">веб-дизайна</span>
    </h2>
    <p class="text-pretty proes prose-pink mb-12">
      Узнайте тарифы, просмотрите реальные работы и отзывы. Напишите о том, что
      хотите видеть в Вашем новом проекте.
    </p>
    <Button link="/" text="Пройти курс на Udemy" />
  </div>
</div>
