<footer
  class="mt-auto mb-6 flex max-w-4xl w-full mx-auto justify-center leading-tight"
>
  <small
    >&copy; <span id="footer-copyright"></span> SRK. Создано с помощью Astro и Github
    Pages</small
  >
</footer>

<script>
  document.querySelector("#footer-copyright")!.textContent = new Date()
    .getFullYear()
    .toString();
</script>
