---
import NavLogo from "../components/NavLogo.astro";
---

<header class="sticky top-0 z-50 w-full backdrop-blur-sm bg-dark-blue/95">
  <script src="https://unpkg.com/lenis@1.1.9/dist/lenis.min.js"></script>
  <nav
    class="flex items-center justify-between py-2 mx-auto text-sm gap-14"
    id="#nav"
  >
    <a
      href="/"
      class="relative block size-[72px] group"
      id="nav-logo"
      aria-label="Логотип сайта"
    >
      <NavLogo />
    </a>
    <ul
      class="flex flex-row gap-8 pb-2 overflow-x-scroll md:pb-0 md:overflow-x-hidden"
      id="nav-list"
    >
      {
        [
          ["Работы", "projects"],
          ["Профиль", "about"],
          ["Статьи", "articles"],
          ["Заказать сайт", "services"],
        ].map(([title, url]) => (
          <li class="relative whitespace-nowrap">
            <a
              href={`/#${url}`}
              class="block px-5 pt-1 pb-1.5 lowercase rounded-2xl border border-dark-blue/10 transition-all z-50 anchor"
            >
              {title}
            </a>
            <div
              class="absolute inset-0 w-[99%] h-full bg-transparent rounded-3xl border border-pink -z-10"
              id={`${url}-progress`}
            />
          </li>
        ))
      }
    </ul>
    <!-- <button
      id="hamburger-menu"
      class="relative w-6 h-4 bg-transparent cursor-pointer md:hidden"
    >
      {
        [["translate-y-[-7px]"], [""], ["translate-y-[7px]"]].map(
          ([styles]) => (
            <span class={`absolute left-0 w-full h-px bg-pink ${styles}`} />
          )
        )
      }
    </button> -->
  </nav>
</header>
