---
const { prevUrl, nextUrl } = Astro.props;
const isDisabled = (condition: any) =>
  condition ? "pointer-events-none opacity-50" : "hover:opacity-100";
---

<nav
  class="flex items-center justify-between gap-8
  text-[clamp(2.5rem,_1.5rem_+_3.25vw,_3.25rem)] lg:w-40 *:transition-opacity pr-1"
>
  <a href={prevUrl} class={`${isDisabled(!prevUrl)}`}>←</a>
  <a href={nextUrl} class={`${isDisabled(!nextUrl)}`}>→</a>
</nav>
