---
const { margin, bordered } = Astro.props;
---

<aside
  class={`hidden xl:block xl:relative  border-white/10 ${margin ? "lg:px-12" : ""} ${bordered ? "xl:border-l xl:border-r" : "lg:pr-24"}`}
>
  <section class="sticky top-36 left-0">
    <slot />
  </section>
</aside>
