---
interface Props {
  data: string;
  description: string;
}

const { data, description } = Astro.props as Props;
---

<li class="flex flex-col first:mb-8 text-lg font-medium leading-tight">
  <span
    class="font-serif text-5xl after:content-['+'] after:ml-0.5"
    data-count={data}
  >
    0
  </span>
  {description}
</li>
