---
interface Props {
  content: string;
}

const { content } = Astro.props;
---

<li class="px-4 pt-px pb-1 rounded-2xl border border-pink leading-snug text-lg">
  <small>
    {content}
  </small>
</li>
