---

---

<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="refresh" content="0; url=/" />
    <meta name="robots" content="noindex, nofollow" />
    <title>Перенаправление...</title>
  </head>
  <body class="text-white bg-black">Перенаправление...</body>
</html>
