---
import type { HeadingProps } from "../../types";

const { headings = [] }: { headings?: HeadingProps[] } = Astro.props;
---

<ul class="dark flex flex-col gap-2" data-toc>
  {
    headings
      .filter((heading) => heading.depth < 3)
      .map((heading) => (
        <li>
          <a
            href={`#${heading.slug}`}
            class="flex text-neutral-400 md:text-base text-xl"
          >
            {heading.text}
          </a>
        </li>
      ))
  }
</ul>
