---
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";

import "../styles/global.css";
import { SITE_TITLE, SITE_DESCRIPTION } from "../variables";

interface Props {
  title?: string;
  description?: string;
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION } =
  Astro.props as Props;
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- OpenGraph Meta Tags -->
    <meta property="og:title" content={title} />
    <meta name="description" content={description} />
    <!-- OpenGraph Image -->
    <meta property="og:image" content="../assets/og-image.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <title>{title}</title>
  </head>
  <body
    class="p-4 md:p-5 text-pink bg-dark-blue flex flex-col min-h-screen mx-auto my-0 max-w-full overflow-x-hidden"
  >
    <NavBar />
    <main class="md:grid xl:grid-cols-10 md:grid-cols-6 gap-5">
      <slot />
    </main>
    <Footer />
    <script src="../scripts/app.js"></script>
  </body>
</html>
